
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
:root{
    --mycolor:rgba(255, 0, 0, 0.264);
    --myimg: url(); 
   
}
#back{
    height: 100%;
    width: 100%;
}
main{
    position: fixed;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer{
    position: absolute;
    right: 4px;
    font-size: 30pt;
    font-family: "Creepster", system-ui; 
    z-index: 1;
    color: red;
}

#box1{
    position: absolute;
    height: 400px;
    width: 400px;
    top: 0px;
    left: 0px;
    background-color: var(--mycolor);
}
#box2{
    position: absolute;
    height: 200px;
    width: 250px;
    top: 0px;
    left: 400px;
    background-color: var(--mycolor);
}
#box3{
    position: absolute;
    height: 300px;
    width: 150px;
    top: 0px;
    left: 650px;
    background-color: var(--mycolor);
}
#box4{
    position: absolute;
    height: 290px;
    width: 170px;
    bottom: 0px;
    right: 0px;
    background-color: var(--mycolor);
}
#box5{
    position: absolute;
    height: 380px;
    width: 210px;
    bottom: 0px;
    right: 170px;
    background-color: var(--mycolor);
}
#box6{
    position: absolute;
    height: 170px;
    width: 210px;
    bottom: 0px;
    right: 380px;
    background-color: var(--mycolor);
}
#box7{
    position: absolute;
    height: 140px;
    width: 210px;
    bottom: 0px;
    right: 590px;
    background-color: var(--mycolor);
}
#start{
    position: absolute;
    height: 60px;
    width: 20px;
    bottom: 140px;
    left: 0px;
    background-color: red;

}
#finish{
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: 290px;
    right: 0px;
    background-color: red;
}
#end{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50pt;
    font-family: "Creepster", system-ui;
    background-color: red;
    color: black;
    padding: 40px;
    letter-spacing: 15px;
    display: none;
}
#eyes{
    height: 60px;
    width: 20px;

}
#space1{
    position: absolute;
    height: 60px;
    width: 190px;
    bottom: 140px;
    left: 20px;
    background-color: rgb(0, 0, 0);
}
#space2{
    position: absolute;
    height: 30px;
    width: 210px;
    bottom: 170px;
    left: 210px;
    background-color: rgb(0, 0, 0);
}
#space3{
    position: absolute;
    height: 200px;
    width: 20px;
    bottom: 200px;
    left: 400px;
    background-color: rgb(0, 0, 0);
}
#space4{
    position: absolute;
    height: 20px;
    width: 230px;
    top: 200px;
    right: 150px;
    background-color: rgb(0, 0, 0);
}
#space5{
    position: absolute;
    height: 90px;
    width: 20px;
    bottom: 290px;
    right: 150px;
    background-color: rgb(0, 0, 0);
}
#space6{
    position: absolute;
    height: 10px;
    width: 140px;
    top: 300px;
    right: 10px;
    background-color: rgb(0, 0, 0);
}